<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="nav :: navbar"></div>
    <div class="container">
        <form th:action="@{/update/{id}(id=${article.id})}" method="POST">
            <fieldset>
                <legend>글 수정</legend>
                <input type="text" name="title" th:value="${article.title}"><br>
                <input type="text" name="main_text" th:value="${article.main_text}"><br>
                <input type="submit" value="수정"><br>
                <input type="reset" value="초기화">
            </fieldset>
        </form>
    </div>

<div th:replace="~{nav :: footer}"></div>
</body>
</html>