<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Board List Page</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div th:replace="~{nav :: navbar}"></div>

    <div class="container">

        <table class="list">
            <tr th:each="article : ${Articles}">
                <td th:text="${article.title}"></td>
                <td> <a th:text="${article.main_text}" th:href="@{/view/{id}(id=${article.id})}"></a></td>
                <td><a th:href="@{/edit/{id}(id=${article.id})}"><button>수정</button></a></td>
                <td><a th:href="@{/delete/{id}(id=${article.id})}"><button>삭제</button></a></td>
                <td></td>
            </tr>
        </table>

    </div>

    <div th:replace="~{nav :: footer}"></div>
</body>
</html>