<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Board List Page</title>
    <link rel="stylesheet" href="main.css">
    <script src="/include/delete.js"></script>
</head>
<body>
    <div th:replace="~{nav :: navbar}"></div>

    <h1 class="board-title">게시판</h1>
    <div class="container">
        <table class="list">
            <tr th:each="article : ${Articles}">
                <td th:text="${article.title}"></td>
                <td> <a th:text="${article.mainText}" th:href="@{/view/{id}(id=${article.id})}"></a></td>
                <td><a th:href="@{/edit/{id}(id=${article.id})}"><button >수정</button></a></td>
                <td><button th:onclick="'deleteArticleFromList(' + ${article.id} + ')'" return false;>삭제</button></td>
                <td></td>
            </tr>
        </table>

    </div>

    <div th:replace="~{nav :: footer}"></div>
    <script src="/include/delete.js"></script>


</body>
</html>

